@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply min-h-screen font-DMSans;
  }
  h2 {
    @apply text-xl font-semibold text-slate-500;
  }
}

/* ================================================== */

/* Custom Webkit Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #fcfcff;
  /* background: #0707c5; */
}
/* Handle || Thumb */
::-webkit-scrollbar-thumb {
  /* background: rgb(216, 216, 216); */
  background: #7c9ad4;
  border-radius: 40px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 200, 200);
}
/* scrollbar Inactive */
::-webkit-scrollbar:window-inactive {
  width: 2px;
  height: 2px;
}
